/**
 * 书写规则
 * g- 框架
 * m- 模块：cm- 公共模块；m-私有模块
 * u- 元件
 * z- 状态
 */
@import 'mixin.scss';
@import 'reset.scss';
@import 'base.scss';


button, input, select, textarea,.btn {
    outline: 0;
    font-family: "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
    color: #374051;
}
.flex{
    @include flex;
    .col{
        @include col(0);
    }
    @for $i from 1 to 7{
        .col-#{$i}{
            @include col($i);
        }
    }
}

.btn{
    display:inline-block;
    @include h(34px);
    border-radius:3px;
    padding: 0 14px;
    background: #fff;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    color: #333;
    &.btn-green{
        color:$white;
        background:$green;
        background-color:$green;
    }
    &.btn-red{
        color:$white;
        background:$red;
        background-color:$red;
    }
    &.btn-dark{
        color:$white;
        background:$dark;
        background-color:$dark;
    }
}


.c-btn{
    width: 30px;
    height: 20px;
    border-radius: 5px;
    @for $i from 1 to length($colorList)+1{
        &.c-btn-#{nth($colorListName,$i)}{
            @include btn-factory(nth($colorList,$i));
        }
        &.c-btn-#{nth($colorListName,$i)}-active{
            @include btn-factory-active(nth($colorList,$i));
        }
    }
}
