/**
 * 书写规则
 * g- 框架
 * m- 模块：cm- 公共模块；m-私有模块
 * u- 元件
 * z- 状态
 */
@import 'mixin.scss';
@import 'reset.scss';
@import 'base.scss';


button, input, select, textarea,.btn {
    outline: 0;
    font-family: "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
    color: #374051;
}
.flex{
    @include flex;
    .col{
        @include col(0);
    }
    @for $i from 1 to 7{
        .col-#{$i}{
            @include col($i);
        }
    }
}

@mixin btn($base:$btn-font-size){
    $btn-font-size:16 !default;
    @include emCalc(font-size, $base, 16);//基于父元素的font-size
    display:inline-block;
    ///基于元素本身的font-size
    @include h(34, $base);
    @include emCalc(border-radius, 3, $base);
    @include emCalc(padding, (0 14), $base);
    @include emCalc(margin-right, 10, $base);
    background: #fff;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    color: #333;
    &.btn-green{
        color:$white;
        // background:$green linear-gradient(#31c779, $green);
        background:$green linear-gradient(hsla(0, 0%, 100%, .2), transparent);
        background-color:$green;
        box-shadow: 0 0.05em 0.25em rgba(0,0,0,.5);
    }
    &.btn-red{
        color:$white;
        background:$red linear-gradient(hsla(0, 0%, 100%, .2), transparent);
        background-color:$red;
        box-shadow: 0 0.05em 0.25em rgba(0,0,0,.5);
    }
    &.btn-dark{
        color:$white;
        background: $dark linear-gradient(hsla(0, 0%, 100%, .2), transparent);
        background-color:$dark;
        box-shadow: 0 0.05em 0.25em rgba(0,0,0,.5);
    }
}
.btn{
    @include btn(14);
}


.c-btn{
    @include emCalc(width, 30, 16);
    @include emCalc(height, 20, 16);
    @include emCalc(border-radius, 5, 16);

    @for $i from 1 to length($colorList)+1{
        &.c-btn-#{nth($colorListName,$i)}{
            @include btn-factory(nth($colorList,$i));
        }
        &.c-btn-#{nth($colorListName,$i)}-active{
            @include btn-factory-active(nth($colorList,$i));
        }
    }
}
