{% extends './templates/layout.html' %}
{% block title %} 博客 {% endblock %}
{% block head %}
    <link href="/dist/styles/index.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="app">{% autoescape %} {{initialHTML}} {% endautoescape %}</div>
    <script>
        var initialData = '{% autoescape %}{{initialData}}{% endautoescape %}';
        window._INITIAL_STATE_ = JSON.parse(initialData);
        ////拿localstorage中的currentWorkID
        if(_INITIAL_STATE_.writer.workList.length > 0){
            if(localStorage.getItem('currentWorkID')){
                _INITIAL_STATE_.writer.currentWorkID = +localStorage.getItem('currentWorkID');
            }else{
                _INITIAL_STATE_.writer.currentWorkID = _INITIAL_STATE_.writer.workList[0].id;
                localStorage.setItem('currentWorkID', _INITIAL_STATE_.writer.currentWorkID);
            }
        }
    </script>

    <script type="text/javascript" src="/dist/vendors.aecbfb.js"></script><script type="text/javascript" src="/dist/index.aecbfb.js"></script>

    <link href="https://cdn.bootcss.com/wangEditor/2.1.23/wangEditor.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/wangEditor/2.1.23/wangEditor.min.js" async></script>
{% endblock %}
