{% extends 'layout.html' %}
{% block title %} 博客 {% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="dist/styles/style.css">
{% endblock %}

{% block content %}
    <div id="app">{{initialHTML}}</div>
    <script type="text/javascript" src="dist/vendors.js"></script>
    <script type="text/javascript" src="dist/index.js"></script>
    <script type="text/javascript" src="dist/home.chunk.js"></script>
    <script type="text/javascript" src="dist/writer.chunk.js"></script>
    <script type="text/javascript" src="dist/noMatch.chunk.js"></script>
{% endblock %}
