@import './common/common.scss';

// body, .m-login::before{
//     background:url('../img/tiger.jpg') 0/cover fixed;
// }
.m-login-bc{
    background: rgba(255, 255, 255, 0.25) border-box;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset, 0 0.5em 1em rgba(0, 0, 0, 0.6);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
}
.m-login{
    @include emCalc(width, 500, $base-font-size);
    @include emCalc(height, 300, $base-font-size);
    @include emCalc(margin, (200 auto), $base-font-size);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    border-radius: .3em;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: -2em;
        z-index: -1;
        filter: blur(1.25em);
    }
    .form-control>label{
        display: flex;
        justify-content: center;
    }
    .u-submit{
        display: flex;
        justify-content: flex-end;
        width: 87%;
    }
}
.form-control{
    padding: 0.6em 0;
    label{
        span{
                width: 6.2em;
                padding: 0 0.6em;
                line-height: 2em;
                box-sizing: border-box;
        }
    }
}
.ml2em{
    margin-left: 2em;
}
.switch-registor{
    color: #ffffff;
    text-decoration: underline;
    line-height: 34px;
    font-size: 12px;
    margin-left: 30px;
}
