@import './common/mixin.scss';

.g-write{
    position: absolute;
    height: 100%;
    width: 100%;
    >div{
        overflow: hidden;
    }
    .m-work{
        background: #33425B;
        color:$white;
    }
    .m-article{
        background: $white;
        color:block;
    }

}
//偏移量分开设置
.field{
    @include field(20, 16);
}
.m-add-files{
    width: 100%;


    .u-file-name{
        .form{
            @include emCalc(margin, (14 0), 16);
            @include emCalc(padding-bottom, 14, 16);
        }
    }
}
.m-add-article{
    .u-article-active{
        background: #ECECEC;
    }
    .u-article{
        @include emCalc(font-size, 20, 16);
        width: 100%;
        @include h(100, 20);
        cursor:pointer;
        border-bottom: 1px solid #DCDCDC;
        border-top: 1px solid #DCDCDC;
        .z-file-title{
            @include emCalc(margin-left, 30, 20);
        }
    }
    a{
        color: $block;
    }
}
.u-create{
        @include h(50, 16);
        box-sizing:border-box;
        @include emCalc(box-shadow, (0 1 3 rgba(0,0,0,.05)), 20);
        cursor:pointer;
        &:hover{
        }
    }

