@import './common/mixin.scss';

//偏移量分开设置
    .field{
        @include field(20px);
    }
.m-add-files{
    width: 100%;
    background: #33425B;
    color:$white;
    .u-file-name{
        .form{
            margin: 14px 0px;
            padding-bottom: 14px;
        }
    }
}
.m-add-article{
    background: $white;
    color:block;
    .u-article-list{
        width: 100%;
        @include h(100px);
        font-size: 20px;
        cursor:pointer;
        border-bottom: 1px solid #DCDCDC;
        border-top: 1px solid #DCDCDC;

        .z-file-title{
            margin-left: 30px;
        }
    }
    a{
        color: $block;
    }
}
.u-create{
        @include h(50px);
        box-sizing:border-box;
        box-shadow: 0 1px 3px rgba(0,0,0,.05);
        cursor:pointer;
        &:hover{
        }
    }

